<div class="container mtop">
  
  <div class="progress progress-striped-custom hide" style="width: 100%; height: 20px">
      <span class="sr-only">P</span>
  </div>

  <div>
    <div class="pull-left">
      <%= form_tag({action: :create}, { multipart: true, :id => "import_form" }) do %>
        <div class="form-control">
          <label>Choose a zip file</label>
          <%= file_field_tag 'ZIP', accept: 'zip', :required => true, :class => "span3" %>
          <%= submit_tag 'Import', :class => 'btn btn-primary', :id => "import_btn", "data-loading-text" => "Please wait..." %>
        </div>
      <% end %>
    </div>

    <div class="pull-right">
      <input type="button" class="btn btn-primary" value="Refresh table" onClick="refreshStatus()">
    </div>
  </div>

  
  <div class="import_container">
    <br><br><br>
    <%= render :partial => "import_list" %>
  </div>  
</div>

<script>
  $(document).ready(function() {
    // run the first time; all subsequent calls will take care of themselves
    setTimeout(refreshStatus, 30000);
  });

  function refreshStatus(){
    jQuery.ajax({
          url: "/importers/status",
          type: "GET",
          success: function(data){
             jQuery(".import_container").html(data);
          }
        });  
    setTimeout(refreshStatus, 30000);
  }

  jQuery('#import_form').submit(function () {
    jQuery(".progress-striped-custom").show();
    jQuery("#import_btn").button('loading');
  });
</script>