<header>
	<div class="container">
		<div class="row-fluid">
			<h1 class="logo span4"><%= link_to("SunShot - #{current_user.username}", home_path) %></h1>
			<div class="span5 pull-right">
				
				<div class="span6 admin_options pull-right">
					<ul class="pull-right">	
						<li></li>
						<li><%= link_to("", logout_url, :class => "fui-power") %></li>
					</ul>
				</div>
			</div>

		</div>
	</div>
</header>